.sub {
    background-color: rgb(201, 0, 0);
    color: rgb(255, 255, 255);
    height: 35px;
    width: 110px;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    border-radius: 3px;
    margin-top: 50px;
    cursor: pointer;
    margin-right: 10px;
    font-weight: bolder;
    font-size: 15px;
    transition: background-color 0.3s;
    margin-left: 750px;
}

.sub:hover {
    background-color: rgb(177, 0, 0);
}

.sub:active {
    opacity: 0.8;
}         

.join {
    background-color: rgb(52, 103, 165);
    border: rgb(52, 103, 165);
    border-width: 1px;
    border-style: solid;
    color: rgb(255, 255, 255);
    height: 35px;
    width: 90px;
    border-radius: 3px;
    cursor: pointer;
    margin-right: 10px;
    font: bold;
    font-size: 15px;
    transition: background-color 1s;
    transition: opacity 1.6s;
    transition: color 1s;
}

.join:hover {
    background-color: rgb(255, 255, 255);
    color: rgb(52, 103, 165);
}

.join:active {
    opacity: 0.8;
}

.tweet {
    background-color: rgb(29, 155, 240);
    border: none;
    border-radius: 35px;
    color: white;
    height: 35px;
    width: 90px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
    transition: background-color 0.5s;

}

.tweet:hover {
    background-color: rgb(92, 175, 230);
}

.tweet:active {
    opacity: 0.9;
}

.wasaty-text {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    top: 10px;
    font-size: 50;
    margin-top: 15px;
    width: 300;
    line-height: 45px;
    margin-bottom: 10px;
    text-align: center;
    margin-left: 800px;
}

.opis {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 10px;
    margin-top: 30px;
    text-align: center;
}

.github {
    width: 90px;
    height: 33px;
    margin-left: 10px;
    background-color: #02244b;
    color: white;
    border-radius: 8px;
    border: none;
    border-style: none;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: bold;
    transition: box-shadow 0.5s, width 0.1s, height 0.1s, font-size 0.1s;

}

.github:hover {
    box-shadow: 0px 0px 25px rgb(25, 175, 191);
}

.github:active {
    width: 88px;
    height: 31px;  
    font-size: 12.5px;
    box-shadow: 0px 0px 20px white;

} 

.buttons {
    text-align: center;
    margin-top: 60px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 30px;
    font-style: normal;
    

}

.text-buttons {
    width: 1904px;
    height: 4px;
    background-color: rgb(25, 175, 191);
    box-shadow: 0px 0px 30px rgb(25, 175, 191);
}